body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}
::selection {
    background: #39B54A;
    color: #FFF
}

$fonts: (
	"MochaMattari": "/static/fonts/MochaMattari/Regular/mochamattari",
	"PTSansRegular": "/static/fonts/PTSans/Regular/ptsans",
	"TrumpGothicBold": "/static/fonts/TrumpGothic/Bold/trumpgothic",
	"TrumpGothicMedium": "/static/fonts/TrumpGothic/Medium/trumpgothic",
	"TrumpGothicRegular": "/static/fonts/TrumpGothic/Regular/trumpgothic"
);

@mixin fontsPopulate($font-map) {
	@each $font-name, $font-path in $font-map {
		@font-face {
			font-family: $font-name;
		    src: url($font-path + ".eot");
		    src: url($font-path + ".eot?#iefix") format("embedded-opentype"), 
		    	 url($font-path + ".woff") format("woff"), 
		    	 url($font-path + ".ttf") format("truetype"), 
		    	 url($font-path + ".svg#" + $font-name) format("svg");
		    font-weight: 400;
		    font-style: normal
		}
	}
}

@include fontsPopulate($fonts);

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto!important;
    height: 100%
}
.navlinks .navlink-box:hover {
    background-color: rgba(50, 50, 50, .2);
    cursor: pointer;
    transition-timing-function: ease-in;
    transition-duration: .4567s
}
.navlinks .active {
    background-color: #323232!important
}
.navlinks li {
    display: inline-block;
    list-style-type: none
}
.navlinks li a {
    letter-spacing: .05em
}
.navbar-sm {
    display: none;
    visibility: hidden;
    width: 100%;
    height: 36px;
    background-color: #323232
}
.navbar-sm select {
    margin-top: 7px;
    height: 22px;
    width: 43%;
    border-radius: 4px;
    position: relative;
    left: 99%;
    margin-left: -43%;
    font: 16px PtSansRegular
}
.social ul {
    display: inline
}
.social ul li a {
    text-decoration: none
}
.social ul li img:hover {
    opacity: .4;
    filter: alpha(opacity=40);
    transition-timing-function: ease-in;
    transition-duration: .5678s
}
footer {
    margin-bottom: 2em
}
.content .global-title h3,
.content .global-title h5 {
    transition: ease-in-out .5678s
}
@media screen and (max-width: 2560px) {
    .wrapper header nav {
        padding: 0 12.4444%;
        position: relative
    }
    .wrapper header nav .logo img {
        width: 142.22px;
        height: 142.22px
    }
    .wrapper header nav .logo-background img {
        width: 133.33px;
        height: 133.33px
    }
    .wrapper header nav .logo-background {
        float: left;
        margin-top: 48.89px
    }
    .wrapper header nav .logo {
        float: left;
        margin-top: 44.44px;
        margin-left: 0
    }
    .navlinks {
        margin-top: 67.56px;
        word-spacing: 3.5555em;
        float: right
    }
    .navlinks .navlink-box {
        min-height: 1px;
        min-width: 1px;
        padding: 1.2444em 1.7777em;
        display: inline-block;
        border-radius: 8.89px
    }
    .navlinks li a {
        text-decoration: none;
        font: 51.56px TrumpGothicRegular
    }
    .wrapper footer {
        position: relative;
        height: 8.8888em
    }
    footer .footer-content {
        width: 100%;
        position: relative;
        margin: 10.6666% 0 0
    }
    .copyright {
        color: grey;
        position: relative;
        display: inline-block;
        margin-left: 12.4444%;
        font: 21.33px PTSansRegular
    }
    .social {
        position: relative;
        display: inline;
        float: right;
        margin-right: 12.4444%
    }
    .social ul li {
        list-style-type: none;
        display: inline;
        margin-left: .8888em
    }
    .social ul li img {
        width: 53.33px;
        height: 53.33px
    }
    .wrapper #header2 {
        position: relative;
        width: 100%;
        height: 14.2222em
    }
    .content .global-title h3 {
        color: #343434;
        letter-spacing: .03555em;
        margin: .1777em 0 0;
        font: 500 231.11px MochaMattari
    }
    .content .global-title h5 {
        padding-right: 40%;
        letter-spacing: .1066em;
        color: #696969;
        margin: .5333em 0 0;
        font: 100 56.89px TrumpGothicRegular
    }
}
@media screen and (max-width: 1920px) {
    .wrapper header nav {
        padding: 0 9.3333%
    }
    .wrapper header nav .logo img {
        width: 106.67px;
        height: 106.67px
    }
    .wrapper header nav .logo-background img {
        width: 100px;
        height: 100px
    }
    .wrapper header nav .logo-background {
        margin-top: 36.67px
    }
    .wrapper header nav .logo {
        margin-top: 33.33px;
        margin-left: 0
    }
    .navlinks {
        margin-top: 50.83px;
        word-spacing: 2.6666em
    }
    .navlinks .navlink-box {
        padding: .9333em 1.3332em;
        border-radius: 6.67px
    }
    .navlinks li a {
        font-size: 38.67px
    }
    .wrapper footer {
        height: 6.6666em
    }
    footer .footer-content {
        margin: 7.9999% 0 0
    }
    .copyright {
        font-size: 16px;
        margin-left: 9.3333%
    }
    .social {
        margin-right: 9.3333%
    }
    .social ul li {
        margin-left: .6666em
    }
    .social ul li img {
        width: 40px;
        height: 40px
    }
    .wrapper #header2 {
        height: 10.6666em
    }
    .content .global-title h3 {
        font-size: 173.33px;
        letter-spacing: .0266em;
        margin-top: .1333em
    }
    .content .global-title h5 {
        font-size: 42.67px;
        letter-spacing: .08em;
        margin-top: .4em
    }
}
@media screen and (max-width: 1440px),
media screen and (max-width: 1280px) {
    .wrapper header nav {
        padding: 0 7%
    }
    .wrapper header nav .logo img {
        width: 80px;
        height: 80px
    }
    .wrapper header nav .logo-background img {
        width: 75px;
        height: 75px
    }
    .wrapper header nav .logo-background {
        margin-top: 27.5px
    }
    .wrapper header nav .logo {
        margin-top: 25px;
        margin-left: 0
    }
    .navlinks {
        margin-top: 38px;
        word-spacing: 1.9999em
    }
    .navlinks .navlink-box {
        min-height: 1px;
        min-width: 1px;
        padding: .7em 1em
    }
    .navlinks li a {
        font-size: 29px
    }
    .wrapper footer {
        height: 5em
    }
    footer .footer-content {
        margin: 6% 0 0
    }
    .copyright {
        font-size: 12px;
        margin-left: 7%
    }
    .social {
        margin-right: 7%
    }
    .social ul li {
        margin-left: .5em
    }
    .social ul li img {
        width: 30px;
        height: 30px
    }
    .wrapper #header2 {
        height: 8em
    }
    .content .global-title h3 {
        font-size: 130px;
        letter-spacing: .02em;
        margin-top: .1em
    }
    .content .global-title h5 {
        padding-right: 40%;
        font-size: 32px;
        letter-spacing: .06em;
        margin-top: .3em
    }
}
@media screen and (max-width: 800px) {
    .navbar-lg {
        display: none;
        visibility: hidden
    }
    .navbar-sm {
        display: block!important;
        visibility: visible!important
    }
    .wrapper header nav .logo-background {
        margin-top: 27.5px;
        position: relative;
        left: 50%;
        margin-left: -37.5px
    }
    .wrapper header nav .logo {
        margin-top: 25px;
        position: relative;
        left: 50%;
        margin-left: -35px
    }
    .wrapper header nav .logo img {
        width: 75px;
        height: 75px
    }
    .wrapper header nav .logo-background img {
        width: 70px;
        height: 70px
    }
    .wrapper #header2 {
        height: 9em
    }
    .content .global-title h3 {
        text-align: center;
        font-size: 130px;
        letter-spacing: .02em;
        margin-top: .1em
    }
    .content .global-title h5 {
        text-align: center;
        padding-right: 0;
        font-size: 32px;
        letter-spacing: .06em;
        margin-top: .3em
    }
}
@media screen and (max-width: 540px) {
    .wrapper header nav .logo img {
        width: 60px;
        height: 60px
    }
    .wrapper header nav .logo-background img {
        width: 55px;
        height: 55px
    }
    .wrapper header nav .logo-background {
        margin-top: 3.1em
    }
    .wrapper header nav .logo {
        margin-top: 3em;
        position: relative;
        left: 50%;
        margin-left: -23.6px
    }
    .content .global-title h3 {
        font-size: 100px
    }
    .content .global-title h5 {
        font-size: 26px
    }
}
@media screen and (max-width: 460px) {
    .copyright,
    .social {
        width: 100%;
        text-align: center
    }
    .copyright,
    .social,
    .social ul {
        text-align: center
    }
    .copyright {
        margin-left: 0;
        display: block;
        font-size: 8.5px
    }
    .social {
        margin-right: 0!important;
        float: none!important;
        display: block!important
    }
    .social ul {
        margin-left: -2.6em!important;
        display: inline-block
    }
    .social ul li img {
        width: 22px;
        height: 22px
    }
}
@media screen and (max-width: 360px) {
    .copyright {
        font-size: 10px;
        position: relative;
        display: inline-block
    }
    .social ul li {
        margin-left: .25678em
    }
    .social ul li img {
        width: 24px;
        height: 24px
    }
    .content .global-title h3 {
        font-size: 70px
    }
    .content .global-title h5 {
        font-size: 22px
    }
}
@media screen and (min-width: 241px) and (max-width: 300px) {
    .content .global-title h3 {
        font-size: 60px
    }
}
@media screen and (max-width: 240px) {
    .wrapper header nav .logo img {
        width: 45px;
        height: 45px
    }
    .wrapper header nav .logo-background img {
        width: 42px;
        height: 42px
    }
    .wrapper header nav .logo-background {
        margin-top: 3.4em;
        margin-left: -21px
    }
    .wrapper header nav .logo {
        margin-top: 3.3em;
        position: relative;
        left: 50%;
        margin-left: -13.13px
    }
    .content .global-title h3 {
        font-size: 50px
    }
    .content .global-title h5 {
        font-size: 16px
    }
}

.about .navlinks li a {
    color: #343434
}
.about .navlinks .active a {
    color: #FFF
}
.about .content {
    padding: 0 7%
}
.about .outer-container p a:hover {
    background-color: transparent;
    transition-duration: .3456s;
    transition-timing-function: ease-in
}
@media screen and (max-width: 2560px) {
    .about .outer-container {
        margin: 8em 7.1111em 3.5555em 9.7777em;
        min-height: 1em;
        overflow: auto
    }
    .about .inner-container {
        float: left;
        width: 50%
    }
    .about .outer-container p {
        color: #464646;
        font: 100 40px PTSansRegular;
        margin-right: 5.3333em
    }
    .about .inner-container p .dropcap {
        float: left;
        font: 106.67px/71.11px TrumpGothicBold;
        letter-spacing: 0;
        margin: .2em .2em 0 0;
        text-transform: uppercase
    }
    .about .outer-container p a {
        background-color: rgba(229, 229, 229, .8);
        border-bottom: 1px rgba(127, 127, 127, .5) solid;
        border-radius: 2px;
        color: inherit;
        padding: 0 .2em;
        text-decoration: none
    }
    .about .next-inner-container {
        clear: left;
        display: block;
        float: left;
        margin-top: 1em;
        width: 100%
    }
    .about .next-inner-container p {
        margin-right: 5%
    }
}
.index .content .content-links,
.index .content .main-content {
    min-height: 0;
    overflow: auto
}
@media screen and (max-width: 1920px) {
    .about .outer-container {
        margin: 6em 5.3333em 2.6666em 7.3333em
    }
    .about .outer-container p {
        font-size: 30px;
        margin-right: 4em
    }
    .about .inner-container p .dropcap {
        font-size: 80px;
        line-height: 53.33px;
        margin: .2em .2em 0 0
    }
}
@media screen and (max-width: 1440px) {
    .about .outer-container {
        margin: 4.5em 4em 2em 5.5em
    }
    .about .outer-container p {
        font-size: 17px;
        margin-right: 3em
    }
    .about .inner-container p .dropcap {
        font-size: 60px;
        line-height: 40px;
        margin: .2em .2em 0 0
    }
}
@media screen and (max-width: 800px) {
    .about .content {
        padding: 0 1%
    }
}
@media screen and (min-width: 641px) and (max-width: 799px) {
    .about .content {
        padding: 0
    }
}
@media screen and (max-width: 640px) {
    .about .outer-container {
        margin: 4em
    }
    .about .next-inner-container p,
    .about .outer-container p {
        margin-right: 0;
    }
    .about .inner-container {
        clear: both;
        float: none;
        width: 100%
    }
    .about .inner-container p .dropcap {
        clear: both;
        float: none;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        font-family: "inherit/0 PTSansRegular";
        margin: 0;
        text-transform: none
    }
    .about .next-inner-container {
        clear: left;
        float: none;
        margin-top: 0
    }
}
.index .content .content-container,
.index .content .content-links .content-link-container {
    width: 33.3333%;
    float: left;
    display: inline
}
@media screen and (max-width: 460px) {
    .about .outer-container {
        margin: 2em
    }
}
@media screen and (max-width: 360px) {
    .about .outer-container {
        margin: 1em
    }
}
@media screen and (max-width: 180px) {
    .about .outer-container {
        margin: .8em
    }
}
.index header .header-content .header-content-1 a:hover {
    text-decoration: underline
}
.index .content .content-links .content-link-container a {
    color: #39B54A;
    font-family: PTSansRegular;
    text-decoration: none
}
.index .arrow-link {
    color: #39B54A;
    display: none
}
.index .content .content-links .content-link-container a:hover {
    text-decoration: underline
}
.index #about:focus+.arrow-link,
.index #about:hover+.arrow-link,
.index #blog:focus+.arrow-link,
.index #blog:hover+.arrow-link,
.index #email:focus+.arrow-link,
.index #email:hover+.arrow-link {
    display: inline
}
.index header .header-content {
    padding-top: 0;
    text-align: center
}
.index header .header-content-0 {
    transition: ease-in-out .5678s
}
.index .content-link-sm {
    display: none;
    visibility: hidden
}
.index .content-link-sm a {
    color: #39B54A;
    font: 17px PTSansRegular;
    text-decoration: none
}
.content-link-sm a:focus,
.index .content-link-sm a:hover {
    text-decoration: underline
}
@media screen and (max-width: 2560px) {
    .index header {
        height: 67.5555em;
        position: relative;
        width: 100%;
        background-color: #2DAB3E
    }
    .index header nav {
        height: 248.89px
    }
    .index .navlinks li a {
        color: #FFF
    }
    .index header .header-content .header-content-0 {
        color: #FFF;
        font: 186.67px MochaMattari
    }
    .index header .header-content .header-content-1 {
        margin-top: 2.4888em
    }
    .index header .header-content .header-content-1 a {
        color: #323232;
        font: 53.33px TrumpGothicBold;
        text-decoration: none
    }
    .index header .header-content .header-content-1 .arrow {
        font-size: 35.56px;
        position: relative;
        top: -.48em
    }
    .index .content {
        min-height: 1em;
        overflow: auto;
        padding: 5.3333% 8.8888% 0 12.4444%
    }
    .index .content .content-container h3 {
        color: #323232;
        font: 400 50px TrumpGothicBold
    }
    .index .content .content-container p {
        color: #464646;
        font: 40px PTSansRegular;
        margin-right: 5.3333%
    }
    .index .content .content-links .content-link-container a {
        font-size: 30.22px
    }
}
.err404 .navlinks li a,
.projects .navlinks li a {
    color: #343434
}
@media screen and (max-width: 1920px) {
    .index header {
        height: 50.6666em
    }
    .index header nav {
        height: 186.67px
    }
    .index header .header-content .header-content-0 {
        font-size: 140px
    }
    .index header .header-content .header-content-1 {
        margin-top: 1.8666em
    }
    .index header .header-content .header-content-1 a {
        font-size: 40px
    }
    .index header .header-content .header-content-1 .arrow {
        font-size: 26.67px;
        top: -.28em
    }
    .index .index .content {
        padding: 3.9999% 6.6666% 0 9.3333%
    }
    .index .content .content-container h3 {
        font-size: 37.5px
    }
    .index .content .content-container p {
        font-size: 30px;
        margin-right: 3.9999%
    }
    .index .content .content-links .content-link-container a {
        font-size: 22.67px
    }
}
@media screen and (max-width: 1440px),
media screen and (max-width: 1280px) {
    .index header {
        height: 38em
    }
    .index header nav {
        height: 140px
    }
    .index header .header-content .header-content-0 {
        font-size: 105px
    }
    .index header .header-content .header-content-1 {
        margin-top: 1.4em
    }
    .index header .header-content .header-content-1 a {
        font-size: 30px
    }
    .index header .header-content .header-content-1 .arrow {
        font-size: 20px;
        top: -.27em
    }
    .index .content {
        padding: 3% 5% 0 7%
    }
    .index .content .content-container h3 {
        font-size: 26px
    }
    .index .content .content-container p {
        font-size: 17px;
        margin-right: 3%
    }
    .index .content .content-links .content-link-container a {
        font-size: 17px
    }
}
@media screen and (max-width: 1280px) {
    .navlinks {
        word-spacing: 1.7777em
    }
    .index .content .content-container p {
        margin-right: 3%
    }
}
@media screen and (max-width: 800px) {
    .index header {
        height: 48em
    }
}
@media screen and (min-width: 641px) and (max-width: 799px) {
    .index .content .content-container p {
        margin-right: 4%
    }
}
@media screen and (max-width: 640px) {
    .index header .header-content .header-content-0 {
        font-size: 85px
    }
    .index header {
        height: 42em
    }
    .index .content .content-container {
        display: block;
        margin-bottom: 2em;
        width: 100%
    }
    .index .content .content-container p {
        margin-right: 3%
    }
    .index .content .content-links {
        display: none;
        visibility: hidden
    }
    .index .content-link-sm {
        display: block!important;
        visibility: visible!important
    }
}
@media screen and (max-width: 460px) {
    .index header {
        height: 35em
    }
    .index header .header-content .header-content-0 {
        font-size: 65px
    }
    .index header .header-content .header-content-1 a {
        font-size: 25px
    }
}
@media screen and (max-width: 360px) {
    .index header {
        height: 38.5em
    }
    .index header .header-content .header-content-0 {
        font-size: 74px
    }
}
@media screen and (max-width: 320px) {
    .index header .header-content {
        margin-top: -1.7em
    }
    .index header {
        height: 38.5em
    }
}
@media screen and (max-width: 240px) {
    .index header {
        height: 25.5em
    }
    .index header .header-content {
        margin-top: -1.5em
    }
    .index header .header-content .header-content-0 {
        font-size: 45px
    }
    .index header .header-content .header-content-1 {
        margin-top: .4em
    }
    .index header .header-content .header-content-1 a {
        font-size: 17px
    }
    .index header .header-content .header-content-1 .arrow {
        font-size: 12px;
        position: relative;
        top: -.2em
    }
    .index .content .content-container h3 {
        font-size: 21px
    }
    .index .content .content-container p {
        font-size: 13px
    }
    .index .content-link-sm a {
        font-size: 12px
    }
    .index .content .content-container {
        margin-bottom: .5em
    }
}
@media screen and (max-width: 180px) {
    .index header .header-content .header-content-0 {
        font-size: 38px
    }
}
.err404 .content {
    padding: 0 7%
}
.err404 .content .global-title h3,
.err404 .content .global-title h5 {
    padding-right: 0!important;
    text-align: center!important
}
.err404 #error-image {
    margin-top: 8%;
    text-align: center
}
.err404 #error-image img {
    border: 1px solid rgba(140, 142, 132, .4567);
    border-radius: 5px;
    box-shadow: rgba(36, 32, 26, .5) 0 0 1px;
    height: auto;
    width: 100%
}
.projects .navlinks .active a {
    color: #FFF
}
.projects #projects-content {
    margin: 5% 0;
    min-height: 0;
    padding: 0 7%;
    width: 100%
}
.projects .content {
    padding: 0 7%
}
* {
    box-sizing: border-box
}
.projects .row::after {
    content: "";
    clear: both;
    display: block
}
.projects .column-3 {
    width: 25%;
    float: left;
    padding: 15px;
    margin-top: 15px
}
.projects #project {
    height: 280px;
    padding: 15px
}
.projects #project #project-content {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #ccc
}
.projects #project a {
    text-decoration: none;
    color: rgba(0, 0, 0, .7)
}
.projects #project #project-content:hover {
    border-bottom: 3px solid #2DAB3E
}
.projects #project [id^=project-banner-] {
    height: 200px
}
.projects #project #project-title {
    text-align: center;
    font: 30px TrumpGothicRegular;
    padding-top: 10px
}
@media only screen and (max-width: 768px) {
    .projects .column-3 {
        width: 33.33%!important
    }
    .projects #project {
        height: 245px;
        padding: 10px
    }
    .projects #project #project-banner {
        height: 180px
    }
    .projects #project #project-title {
        font-size: 22px
    }
}
@media only screen and (max-width: 540px) {
    .projects .column-3 {
        width: 50%!important
    }
}
@media only screen and (max-width: 420px) {
    .projects .column-3 {
        width: 50%!important
    }
}
@media screen and (max-width: 860px) {
    .projects #projects-content {
        margin-bottom: 4em
    }
}